#home {
    background-image: url('desktopBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1500px; /* Ensures the background covers at least the full viewport height */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
    width:100vw;
    color: white;
    
}

/* Adjust .logo styling for desktop view */
.logo {
    display: flex;
    width: 350px;
    margin-top:7vh;
    margin-left:10%;
    margin-right:10%;
}

.segment3
{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
}

.header
{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 2%;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}

.dateDetails
{
    margin-top:-10%;
    font-size:large;
    font-weight:bold;
}
.about{
    margin-top: 30%;
}

.eventName
{
    width:50%;
    height:auto;
    /* background-color: green; */
    margin-top:1%;
}

.eventList
{
    display:flex;
    justify-content:space-around;
    align-items:center;
   
    width:80%;
    height:auto;
    margin-top:25%;
    flex-wrap:wrap;

    animation: moveUpDown 3s ease-in-out infinite; /* Duration of 3 seconds, smooth easing, repeat infinitely */

}

@keyframes moveUpDown {
    0% {
        transform: translateY(0); /* Initial position */
    }
    50% {
        transform: translateY(-20px); /* Move up by 20px */
    }
    100% {
        transform: translateY(0); /* Move back to the initial position */
    }
}

.bubble
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:1px solid black; */
    width:20%;
}

.bubble1
{
    width:100%;
}

.logo-container{


}

.footer
{
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width:98%;
    background-color: rgba(255, 255, 255, 0.266);
    
    border-radius:15px;
}

.iFrame
{
    width:25%;
    height:80%;
    border-radius:15px;
}



/* Media query for mobile view (screens 768px wide or less) */
@media only screen and (max-width: 768px) {
    #home {
        background-image: url('mobileBg.png');
        
       height: 1700px;
        max-width: 100vw;
        overflow: hidden;
        background-size: cover;
        background-position: center;
    }
    

    .header{
       
        font-size: 1rem;
        margin-top: 15%;
         
    }

    .eventName{

        margin-top: 15%;
        width:130%;
    }
    .eventList{
        margin-top: 40%;
    }

    .bubble{
        width:50%;
    }

    .dateDetails
{
    font-size:medium;
    font: weight 1px;
}

.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width:96%;
    background-color: rgba(255, 255, 255, 0.266);
}

.iFrame{
    height:80%;
    width:40%;
    margin-left:50%;
    border:2px solid black;
}
.about{
    margin-top: 155%;
}
    .logo {
        width: 60%;
        height: auto;
        margin-top:11%;
        margin-left:-8%;
        margin-right:-8%;
    }

    /* You can adjust the text size and other elements here as well */
    h1, p {
        font-size: 1.2em; /* Adjust font size for readability on smaller screens */
        text-align: center; /* Center-align text for mobile screens */
    }
}
