#home {
    background-image: url('desktopBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1500px; /* Ensures the background covers at least the full viewport height */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
    width:100vw;
    color: white;
    
}

/* Adjust .logo styling for desktop view */
.logo {
    display: flex;
    width: 350px;
    margin-top:7vh;
    margin-left:10%;
    margin-right:10%;
}

.segment3
{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
}

.header
{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 2%;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}

.dateDetails
{
    margin-top:-10%;
    font-size:large;
    font-weight:bold;
}
.about{
    margin-top: 30%;
}

.eventName
{
    width:50%;
    height:auto;
    /* background-color: green; */
    margin-top:1%;
}

.eventList
{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: green;
    width:100%;
    height:auto;
    margin-top:25%;
   
}

.bubble
{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;

}
.bubble > img{
    width:100%;
}
.logo-container{

}



/* Media query for mobile view (screens 768px wide or less) */
@media only screen and (max-width: 768px) {
    #home {
        background-image: url('mobileBg.png');
        
       height: 1700px;
        max-width: 100vw;
        overflow: hidden;
        background-size: cover;
        background-position: center;
    }
    

    .header{
       
        font-size: 1rem;
        margin-top: 15%;
         
    }

    .eventName{

        margin-top: 15%;
        width:130%;
    }
    .eventList{
        margin-top: 40%;
    }

    .dateDetails
{
    font-size:medium;
    font: weight 1px;
}
.about{
    margin-top: 155%;
}
    .logo {
        width: 60%;
        height: auto;
        margin-top:11%;
        margin-left:-8%;
        margin-right:-8%;
    }

    /* You can adjust the text size and other elements here as well */
    h1, p {
        font-size: 1.2em; /* Adjust font size for readability on smaller screens */
        text-align: center; /* Center-align text for mobile screens */
    }
}
